
set resourcedir = XROOTD_HDFS
set rootdir = /xrootd

all.export $(rootdir)


# The adminpath and pidpath variables indicate where the pid and various
# IPC files should be placed
#
all.adminpath /var/spool/xrootd
all.pidpath /var/run/xrootd

# More configuration files can be added in /etc/xrootd/config.d/

# For example /etc/xrootd/config.d/10-mygrid.cfg and

# /etc/xrootd/config.d/98-mysite-specifics.cfg

continue /etc/xrootd/config.d/