[Unit]
Description=xrootd-se
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=/opt/xrootd-se
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill xrootd-se
ExecStart=/usr/bin/docker run --rm --name %n \
    --hostname=xrootdsefqdn \
    -v /var/log/xrootd:/var/log/xrootd \
    -v /opt/xrootd-se/etc/xrootd:/etc/xrootd:ro \
    -v /opt/xrootd-se/etc/supervisord.d:/etc/supervisord.d:ro \
    -v /opt/xrootd-se/.secrets/prod:/.secrets:ro \
    -v /etc/timezone:/etc/timezone:ro \
    -v /etc/localtime:/etc/localtime:ro \
    -v /cvmfs/grid.cern.ch/etc/grid-security/certificates:/etc/grid-security/certificates:ro \
    -v /cvmfs/grid.cern.ch/etc/grid-security/vomsdir:/etc/grid-security/vomsdir:ro \
    -v /cvmfs/grid.cern.ch/etc/grid-security/vomses:/etc/grid-security/vomses:ro \
    -v /opt/cloudera:/opt/cloudera:ro \
    -v /etc/hadoop:/etc/hadoop:ro \
    -p 1094:1094 \
    -p 3121:3121 \
    xrootdse:latest
ExecStop=/usr/bin/docker stop %n
ExecReload=/usr/bin/docker exec -ti %n supervisorctl restart cmsd \
    && /usr/bin/docker exec -ti %n supervisorctl restart xrootd-clustered

[Install]
WantedBy=default.target
